passwords.txt
py.py
classes_flypodolsk.png
packages_flypodolsk.png
insert.py

dbapp/__pycache__/
dbapp/migrations/__pycache__/
flypodolsk/__pycache__/
webapp/__pycache__/
webapp/migrations/__pycache__/
webapp/templatetags/__pycache__/